**/.idea
**/node_modules
**/dist
# despite the fact that this codegen dir should be git ignored, it still needs to be indexed by IDEA
# to property inherit types of built-in Astro Collection helpers
**/.astro
**/.vercel
**/.output
**/.env

**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/

packages/blog-ssg/public/style.css
packages/blog-ssg/public/main.js

packages/blog/src/content/.obsidian
packages/blog/src/content/templates

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

**/.DS_Store
