**/.idea
**/node_modules
**/dist
**/.env

**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/

packages/blog/public/client/style.css
packages/blog/public/client/main.js

**/.DS_Store

.husky/_/*
