/* needs to be lowerCamelCase instead of common snake-case because it is used in tsx via CSS modules */
.slidingIn {
  animation: slide-in 0.5s forwards;
}

.slidingOut {
  animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
