---
import '@fortawesome/fontawesome-free/css/fontawesome.css';
import '@fortawesome/fontawesome-free/css/solid.css';
---

<footer class="flex gap-1 items-center p-4 border-t">
  <span class="text-gray-500">Mordechai Dror © 2023-present</span>

  <div class="flex-1"></div>

  <a href="/rss.xml"
     target="_blank">
    <i class='fa-solid fa-rss fa-lg'></i>
  </a>
</footer>
