---
import '@fortawesome/fontawesome-free/css/fontawesome.css';
import '@fortawesome/fontawesome-free/css/solid.css';
---

<footer class="flex flex-row-reverse gap-1 items-center p-4 border-t">
  <a href="/rss.xml"
     target="_blank">
    <i class='fa-solid fa-rss fa-lg'></i>
  </a>
</footer>
