---
import { getCollection } from 'astro:content';
import { compareDesc } from 'date-fns';
import { Post } from '../shared/post';

const entries = await getCollection('posts');

const posts = await Promise.all(
  entries
    .sort((a, b) => compareDesc(a.data.publishedAt, b.data.publishedAt))
    .map((entry) => Post.fromEntry(entry)),
);
---

<ul class="flex flex-col divide-y divide-dashed">
  {
    posts.map((post) => (
      <li class="flex flex-col">
        <a
          class="hover:text-blue-600 hover:underline flex gap-3 py-3"
          href={post.fullPath}>
          <span class="flex-1 truncate">{post.title}</span>
          <span>{post.publishedAt}</span>
        </a>
      </li>
    ))
  }
</ul>
