---
import 'boxicons/css/boxicons.css'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<title>{title}</title>
	</head>
	<body class="flex flex-col max-w-lg mx-auto gap-4 min-h-screen">
	<header class="flex py-4 border-b">
		<nav>
			<a href="/">vorant94</a>
		</nav>
	</header>
	<main class="flex-1">
		<slot />
	</main>

	<footer class="flex flex-row-reverse py-4 border-t gap-1">
		<a href="https://github.com/vorant94/"
			 target="_blank">
			<i class='bx bxl-github bx-sm'></i>
		</a>

		<a href="https://vorant94.medium.com/"
			 target="_blank">
			<i class='bx bxl-medium bx-sm'></i>
		</a>
	</footer>
	</body>
</html>

