---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title?: string;
}

let title = `vorant94`;
if(Astro.props.title) {
	title += ` | ${Astro.props.title}`;
}
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<title>{title}</title>
	</head>
	<body class="flex flex-col min-h-screen mx-auto md:max-w-md lg:max-w-lg xl:max-w-xl 2xl:max-w-2xl">

	<Header />

	<main class="flex-1 p-4">
		<slot />
	</main>

	<Footer />

	</body>
</html>

